$primary_color: #1a2b5f;
$secondary_color: #ffc87a;
$blur_primary_color: #6a7597;
$buy_btn_color: #ffce7a;
$safe_type: #ff97c3;
$delicious_type: #ff706d;
$entertainment_type: #8598ff;
$cream_type: #ffc87a;